<script src="{{ site.url }}{{ site.baseurl }}/assets/js/banner_scripts.js"></script>

{% capture featuredGameSrcs %}
{% for featuredGame in site.data.featured_games %}
    {{featuredGame.id}}
    {% if forloop.last == false %}::{% endif%}{% endfor %}
{% endcapture %}
{% assign featuredId = 0 %}
<div class="featured-games">
    {% assign featuredGamesSrcArray = featuredGameSrcs |split: '::' %}
    <button id="fadePrev" class = "fadePrev"onclick="prevFeatured('{{featuredGamesSrcArray}}','{{site.url}}')">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/left-arrow.svg">
    </button>
    <a id="featured-left" href="{{site.url}}/gallery/{{featuredGamesSrcArray[0]|strip}}">
        <img id="featured-left-img"src="{{ site.url }}/gallery/{{featuredGamesSrcArray[0]|strip}}/banner.png" alt="{{featured}}">
    </a>
    <a id="featured-center" href = "{{site.url}}/gallery/{{featuredGamesSrcArray[1]|strip}}">
        <img id="featured-center-img" src="{{ site.url }}/gallery/{{featuredGamesSrcArray[1]|strip}}/banner.png" alt="{{featured}}">
    </a>
    <a id="featured-right" href = "{{site.url}}/gallery/{{featuredGamesSrcArray[2]|strip}}">
        <img id="featured-right-img" src="{{ site.url }}/gallery/{{featuredGamesSrcArray[2]|strip}}/banner.png" alt="{{featured}}">
    </a>
    <button id="fadeNext" class = "fadeNext" onclick="nextFeatured('{{featuredGamesSrcArray}}','{{site.baseurl}}')">
        <span><img src="{{ site.url }}/assets/img/right-arrow.svg"></span>
    </button>
</div>