---
layout: default
format: gallery
---
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/gallery_scripts.js"></script>

{% if page.about_section %}
<div class="section-container">
    <h2>{{ page.about_section.title }}</h2>
    <div class="info-container">
        {% if page.about_section.image %}
        <img src="{{ page.about_section.image.url }}" alt="{{ page.about_section.image.caption }}">
        {% endif %}
        <p>{{page.about_section.content }} </p>
    </div>
</div>
{% endif %}

<div class="section-container">
    <h2>Featured Games</h2>
    <p>banner here</p>
</div>

<div class="browse-games">
    <h2>Browse All Games</h2>
    <div class="gallery">
        <div class="filter-section">
            <div>
                <h4 class="collapsible">Genres</h4>
                <div class="content">
                <ul>
                {% assign genres = site.data.categories.genres | sort %}
                {% for genre in genres %}
                    <li class="list-item">
                        <input 
                        type="checkbox" 
                        class="check-box"
                        name="selectedGenres" 
                        value="{{ genre }}" 
                        id="{{ genre }}">
                        <label for="{{ genre }}">{{ genre }}</label>
                    </li>
                {% endfor %}
                </ul>
                </div>
            </div>
            <div>
                <h4 class="collapsible">Courses</h4>
                <div class="content">
                <ul>
                {% assign courses = site.data.categories.courses | sort %}
                {% for course in courses %}
                    <li class="list-item">
                        <input 
                        type="checkbox" 
                        class="check-box"
                        name="selectedCourses" 
                        value="{{ course }}" 
                        id="{{ course }}">
                        <label for="{{ course }}">{{ course }}</label>
                    </li>
                {% endfor %}
                </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="games">
                <p id="no-results" class="hidden">
                    No games match the selected categories!
                </p>
                
                {% assign id = 0 %}
                {% for year in site.data.categories.years %}
                {% assign gameYear = "games-" | append: year %}

                {% for game in site.data.all_games[gameYear] %}
                {% assign id = id | plus:1 %}
                
                {% capture gid %}{{ game.id }}{% endcapture %}
                {% assign yearString = "" | append: year %}
                {% assign details = site.data.gallery[yearString][gid] %}
                <!-- <div id="{{ id }}" class="details-rect">
                    <img src="{{site.baseurl}}/gallery/{{game.id}}/cover.png" alt="{{game.id}}">
                    <div class="game-info">
                        <h3>{{ details.name }}</h3>
                        <p>by {{ details.studio }} </p>
                        <p>{{ details.summary }}</p>
                        {% for genre in details.genres %}
                        <p class="keyword">{{ genre }}</p>
                        {% endfor %}
                    </div>
                </div> -->
                <a href="{{site.baseurl}}/gallery/{{ game.id }}">
                <div id="{{ id }}" class="details-mini">
                    <img src="{{site.baseurl}}/gallery/{{game.id}}/cover.png" alt="{{game.id}}">
                    <div class="detail-container">
                        <h3>{{ details.name }}</h3>
                        <p>by {{ details.studio }} </p>
                        {% for genre in details.genres %}
                        <p class="keyword">{{ genre }}</p>
                        {% endfor %}
                    </div>
                </div>
                </a>
                {% endfor %}
                {% endfor %}
            </div>
        
            <div class="page-buttons">
                <button id="prev-page" onclick="goPrevPage()" class="hidden">
                    <span class="icon-chevron-left"></span> Previous
                </button>
                <button id="next-page" onclick="goNextPage()">
                    Next <span class="icon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>


