---
layout: default
format: homepage
---

<div class="section-container">
    <h2>Featured Games</h2>
    {% include _featured_banner.html %}
</div>

{% if page.about_section %}
<div class="section-container">
    <h2>{{ page.about_section.title }}</h2>
    <div class="info-container">
        {% if page.about_section.image %}
        <img src="{{ page.about_section.image.url }}" alt="{{ page.about_section.image.caption }}">
        {% endif %}
        <div>
            {% for paragraph in page.about_section.paragraphs %}
            <p>{{ paragraph }} </p>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% endif %}

{% if page.featured_news %}
<div class="section-container">
    <h2>{{ page.featured_news.title }}</h2>
    <div class="info-container">
        {% if page.featured_news.image %}
        <img class="news-img" src="{{ page.featured_news.image.url }}" alt="{{ page.featured_news.image.caption }}">
        {% endif %}
        <div>
            {% for paragraph in page.featured_news.paragraphs %}
            <p>{{ paragraph }} </p>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% endif %}

{% if page.news_section %}
<div class="section-container">
    <h2>{{ page.news_section.title }}</h2>

    <div class="news-post">
        <h3>{{ page.news1.title }}</h3>
        <div class="info-container">
            {% if page.news1.image %}
            <img class="mini-img" src="{{ page.news1.image.url }}" alt="{{ page.news1.image.caption }}">
            {% endif %}
            <p>{{ page.news1.summary }}</p>
        </div>
    </div>

    <div class="news-post">
        <h3>{{ page.news2.title }}</h3>
        <div class="info-container">
            {% if page.news2.image %}
            <img class="mini-img" src="{{ page.news2.image.url }}" alt="{{ page.news2.image.caption }}">
            {% endif %}
            <p>{{ page.news2.summary }}</p>
        </div>
    </div>

    <a class="radius button small btn-margin-top" href="{{site.baseurl}}/blog" title="title">See All News</a>
</div>
{% endif %}
